$palette: (
    accesRapide: #111111,
    scrollBar: #111111,
    logoColor: #fff,
    menuColor: #111111,
    currentPageLink: #fdfdfd,
    currentPageShape: #373f47,
    currentPageFont: #373f47,
    bgTopColor: #373f47,
    bgBottomColor: #373f47,
    htmlBgColor: #111111,
    textColor: #fff,
    textInFieldsColor: #373f47,
    borderColor: #fff,
    socialNetworkColor: #fff,
    languageActiveItem: #111,
    languageActiveItemBg: #fff,
    topPageArrowColor: #111111,
    topPageBgColor: #fdfdfd,
    shadowColorDefault: #fdfdfd,
    shadowColorTopPage: none,
    bgBodyHasmodal: rgba(0,0,0,0.3),
    invalidField: red,
    bgFormMessage: #fff,
    successMessageText: green,
    errorMessageText: red,
    slideButtonColor: #111111,
    focusVideo: red
);