$palette: (
    accesRapide: #fff,
    scrollBar: #83FAC2,
    logoColor: #fff,
    menuColor: #6FDAFA,
    currentPageLink: #C897EA,
    currentPageShape: #fff,
    currentPageFont: #24292F,
    bgTopColor: #83FAC2,
    bgBottomColor: #C897EA,
    htmlBgColor: #111111, 
    textColor: #24292F,
    textInFieldsColor: #24292F,
    borderColor: #fff,
    socialNetworkColor: #24292F,
    languageActiveItem: #24292F,
    languageActiveItemBg: #6FDAFA,
    topPageArrowColor: #fff,
    topPageBgColor: #000,
    shadowColorDefault: rgba(0,0,0,0.5),
    shadowColorTopPage: #fdfdfd,
    bgBodyHasmodal: rgba(0,0,0,0.3),
    invalidField: red,
    bgFormMessage: #fff,
    successMessageText: green,
    errorMessageText: red,
    slideButtonColor: #24292F,
    focusVideo: blue
);