footer {
    position: relative; //pour placer le copyright en absolute
    overflow: hidden;
    padding: map-get($paddings,footer);
    @include flex(space-between);
    background-color: map-get($palette,bgBottomColor);
    @include mobile { //centrer le realizedby et laisser marge avec copyright
        display: flex;
        flex-direction: column;
        gap: $footerGap;
        align-items: center;
        padding-bottom: $footerPaddingBottomMobile;
    }
}

//augmente le padding pour que les éléments ne se chevauchent pas quand les caractères sont agrandis
.footer-font-size-2 {
    padding: map-get($paddings,footerFontSize2);
}
.footer-font-size-3 {
    padding: map-get($paddings,footerFontSize3);
}
.footer-font-size-4 {
    padding: map-get($paddings,footerFontSize4);
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


